* {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
}
body {
	padding: 130px 0 10px 0;
	margin: 0;
	text-align: center;
	background: #f0f0f0 url('logo.webp') no-repeat top center;
	color: #333;
	font-family: "Noto Sans", sans-serif;
}
body.error {
	background-color: #f0d4d4;
}
h1 {
	display: none;
}
h2, h3, h4 {
	color: #990099;
}
a {
	text-decoration: none;
	color: #969;
}
#error_log {
	font-weight: bold;
	color: #f00000;
}
.subtitle {
	font-weight: bold;
	font-style: italic;
	color: #636;
}
.subtitle a {
	color: #636;
	text-decoration: underline;
}
body.error .hide_on_error, body.error #stereopix_viewer {
	display: none;
}
#json_code {
	width: 90%;
	min-height: 200px
}
#page, #json_code_note {
	margin: 0 auto;
	width: 90%;
}
.box {
	display: inline-block;
	background: #fff;
	border-radius: 15px;
	padding: 10px;
	margin: 10px;
}
#join_box {
	width: 400px;
	margin: 40px auto;
}
#join_box input[type=text] {
	width: 80%;
	text-align: center;
}
#intro {
	display: block;
	max-width: 800px;
	margin: 20px auto;
}
#thumbs {
	padding: 20px 0;
}
#thumbs img {
	border: 5px solid #000000;
	vertical-align: middle;
	margin: 4px;
}
#thumbs img.active {
	border-color: #d00000;
}
