<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="data:,">
		<link rel="stylesheet" href="/design/style.css?{{STYLESTAMP}}"/>
		<title>Stereopix ROOMS</title>
	</head>
	<body class="centered">
		<h1>Stereopix ROOMS</h1>
		<p class="subtitle"><a href="/">ROOMS</a> uses the viewer of <a href="https://stereopix.net/">Stereopix</a> to create interactive rooms.</p>
		<script>
let socket = false;
let room = decodeURIComponent("{{ROOM}}");
let nb_connected = 0;
function connect(room) {
	socket = new WebSocket("ws" + (document.location.protocol == "https:" ? "s" : "") + "://" + document.location.host + "/ws");
	socket.onopen = function(e) {
		console.log("[open] Connection established");
		document.getElementById("room_name").innerText = room;
		document.getElementById("connected").innerText = "Yes";
		document.getElementById("connected_clients").innerText = "0";
		document.body.classList.remove('error');
		socket.send(JSON.stringify({ 'type': 'hello', 'action': 'present', 'room': room }));
	};

	socket.onmessage = function(event) {
		console.log(`[message] Data received from server: ${event.data}`);
		j = JSON.parse(event.data);

		if (j.type == 'room_already_opened') {
			document.getElementById('error_log').innerText = "This room is already controlled."

		} else if (j.type == 'room_stolen_kick') {
			document.getElementById('error_log').innerText = "This room was stolen."

		} else if (j.type == 'room_stolen') {
			document.getElementById("json_code").value = j.json;
			document.getElementById("page").value = j.page;
			process_json(j.json);

		} else if (j.type == 'nb_connected') {
			document.getElementById("connected_clients").innerText = j.nb;
			nb_connected = j.nb;
		}
	};

	socket.onclose = function(event) {
		if (event.wasClean) {
			console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
		} else {
			console.log('[close] Connection died');
		}
		document.getElementById("connected").innerText = "No";
		document.getElementById("connected_clients").innerText = "0";
		document.body.classList.add('error');
		socket = false;
	};

	socket.onerror = function(error) {
		console.log(`[error] ${error.message}`);
	};
}

function move_forward() { document.getElementById("page").stepUp(1); }
function move_backward() { document.getElementById("page").stepUp(-1); }

function process_json(j) {
	document.getElementById("page").max = (j && j.media && Array.isArray(j.media)) ? j.media.length - 1 : 0;
}

window.addEventListener("DOMContentLoaded", (event) => {
	document.getElementById("allow_stealing").checked = false;
	document.getElementById("allow_stealing").addEventListener("change", e => {
		if (socket)
			socket.send(JSON.stringify({ 'type': 'allow_stealing', 'value': e.target.checked }));
	});
	document.getElementById("json_form").addEventListener("submit", e => {
		e.preventDefault();
		const code = document.getElementById("json_code");
		let j = null;
		function send_code() {
			try {
				const parsed = JSON.parse(code.value);
				j = code.value;
				process_json(parsed);
			} catch(e) {
				alert("Invalid JSON syntax");
				console.warn(e);
			}
			if (socket && j) {
				socket.send(JSON.stringify({ 'type': 'open_room', 'json': j }));
				const p = document.getElementById("page");
				document.getElementById("btn_forward").disabled = (p.value >= p.max);
				document.getElementById("btn_backward").disabled = (p.value <= 0);
			}
		}
		if (code.value.trim().startsWith("https://")) {
			const xhr = new XMLHttpRequest();
			xhr.onload = function(e) {
				code.value = this.responseText;
				send_code();
			};
			xhr.onerror = function(e) {
				code.value = "Error while loading the JSON file."
			};
			xhr.open("GET", code.value.trim(), true);
			xhr.send();
			code.value = "Loading JSON...";
		} else {
			send_code();
		}
	});
	document.getElementById("page_form").addEventListener("submit", e => {
		e.preventDefault();
		const p = document.getElementById("page");
		document.getElementById("btn_forward").disabled = (Number(p.value) >= Number(p.max));
		document.getElementById("btn_backward").disabled = (Number(p.value) <= 0);
		if (socket)
			socket.send(JSON.stringify({ 'type': 'change_page', 'page': p.value }));
	});
	document.getElementById("btn_forward").disabled = true;
	document.getElementById("btn_backward").disabled = true;
	connect(room);
});
window.addEventListener("beforeunload", e => {
	if (!socket || nb_connected == 0) return;
	const msg = "By closing this page, you will close the room";
	e.returnValue = msg;
	return msg;
});
window.addEventListener("pagehide", (event) => {
	if (socket)
		socket.close();
});
		</script>
		<p>Room name: <span id="room_name">Unknown</span></p>
		<p>Connected: <span id="connected">No</span></p>
		<p class="hide_on_error">Connected clients: <span id="connected_clients">0</span></p>
		<p id="error_log"></p>
		<div id="presenter_block" class="hide_on_error">
		<p><label><input type="checkbox" id="allow_stealing" />Allow stealing of the room</label></p>
		<h2>JSON</h2>
		<form id="json_form">
			<p id="json_code_note">Note: The content should be a valid JSON suitable for the viewer of Stereopix (see <a href="https://stereopix.github.io/viewer-examples/020_01_advanced_json_file/list.json" target="_blank">example</a> and the help of Stereopix for advanced usages) or the address where such file can be loaded (with appropriate cross-origin headers).</p>
			<textarea id="json_code" spellcheck="false"></textarea>
			<br />
			<input type="submit" />
		</form>

		<h2>Page number</h2>
		<form id="page_form">
			<input type="number" value="0" min="0" max="0" id="page" />
			<br />
			<input type="submit" />
			<br />
			<button id="btn_backward" onclick="move_backward()">Reverse</button>
			<button id="btn_forward" onclick="move_forward()">Forward</button>
		</form>
		</div>
	</body>
</html>
