<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="data:,">
		<link rel="stylesheet" href="/design/style.css?{{STYLESTAMP}}"/>
		<title>Stereopix ROOMS</title>
	</head>
	<body class="centered">
		<h1>Stereopix ROOMS</h1>
		<p class="subtitle"><a href="/">ROOMS</a> uses the viewer of <a href="https://stereopix.net/">Stereopix</a> to create interactive rooms.</p>
		<script>
let socket = false;
let room = decodeURIComponent("{{ROOM}}");
let nb_connected = 0;
function connect(room) {
	socket = new WebSocket("ws" + (document.location.protocol == "https:" ? "s" : "") + "://" + document.location.host + "/ws");
	socket.onopen = function(e) {
		console.log("[open] Connection established");
		document.getElementById("room_name").innerText = room;
		document.getElementById("connected").innerText = "Yes";
		document.getElementById("connected_clients").innerText = "0";
		document.body.classList.remove('error');
		socket.send(JSON.stringify({ 'type': 'hello', 'action': 'present', 'room': room }));
	};

	socket.onmessage = function(event) {
		console.log(`[message] Data received from server: ${event.data}`);
		j = JSON.parse(event.data);

		if (j.type == 'room_already_opened') {
			document.getElementById('error_log').innerText = "This room is already controlled."

		} else if (j.type == 'room_stolen_kick') {
			document.getElementById('error_log').innerText = "This room was stolen."

		} else if (j.type == 'room_stolen') {
			document.getElementById("json_code").value = j.json;
			document.getElementById("page").value = j.page;
			process_json(j.json);

		} else if (j.type == 'nb_connected') {
			document.getElementById("connected_clients").innerText = j.nb;
			nb_connected = j.nb;
		}
	};

	socket.onclose = function(event) {
		if (event.wasClean) {
			console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
		} else {
			console.log('[close] Connection died');
		}
		document.getElementById("connected").innerText = "No";
		document.getElementById("connected_clients").innerText = "0";
		document.body.classList.add('error');
		socket = false;
	};

	socket.onerror = function(error) {
		console.log(`[error] ${error.message}`);
	};
}

let last_position = 0;
function move_update() {
	const p = document.getElementById("page");
	document.getElementById("btn_forward").disabled = (Number(p.value) >= Number(p.max));
	document.getElementById("btn_backward").disabled = (Number(p.value) <= 0);
	const thx = document.getElementById("thumbs");
	const thumbs = thx.getElementsByTagName('img');
	if (last_position < thumbs.length) thumbs[last_position].classList.remove("active");
	last_position = Number(p.value);
	if (last_position < thumbs.length) thumbs[last_position].classList.add("active");
	if (socket)
		socket.send(JSON.stringify({ 'type': 'change_page', 'page': p.value }));
}
function move_to(n) {
	const p = document.getElementById("page");
	if (n >= 0 && n <= Number(p.max)) {
		p.value = n;
		move_update();
	}
}
function move_forward() { move_to(Number(document.getElementById("page").value)+1); }
function move_backward() { move_to(Number(document.getElementById("page").value)-1); }
function move_home() { move_to(0); }

function process_json(j) {
	document.getElementById("page").max = (j && j.media && Array.isArray(j.media)) ? j.media.length - 1 : 0;
	const thx = document.getElementById("thumbs");
	const frag = document.createDocumentFragment();
	const h2 = document.createElement("h2");
	h2.innerText = "Thumbnails";
	frag.appendChild(h2);
	thx.innerHTML = "";
	if (j && j.media && Array.isArray(j.media)) {
		let nb = 0;
		for (const i in j.media) {
			const p = j.media[i];
			const img = document.createElement("img");
			if (p.thumbnail) {
				const u = Array.isArray(p.thumbnail) ? p.thumbnail[0] : p.thumbnail;
				const baseurl = j.meta.url_base;
				const url = (new URL(u, baseurl || undefined)).href
				img.src = url;
				nb++;
			} else {
				img.src = "/design/nothumb.png";
			}
			img.loading = "lazy";
			img.dataset.nb = i;
			img.addEventListener('click', (e) => { move_to(Number(img.dataset.nb)); });
			frag.appendChild(img);
		}
		if (nb)
			thx.appendChild(frag);
	}
	move_home();
}

window.addEventListener("DOMContentLoaded", (event) => {
	document.getElementById("allow_stealing").checked = false;
	document.getElementById("allow_stealing").addEventListener("change", e => {
		if (socket)
			socket.send(JSON.stringify({ 'type': 'allow_stealing', 'value': e.target.checked }));
	});
	document.getElementById("json_form").addEventListener("submit", e => {
		e.preventDefault();
		const code = document.getElementById("json_code");
		let j = null;
		function send_code() {
			try {
				const parsed = JSON.parse(code.value);
				j = code.value;
				process_json(parsed);
			} catch(e) {
				alert("Invalid JSON syntax");
				console.warn(e);
			}
			if (socket && j) {
				socket.send(JSON.stringify({ 'type': 'open_room', 'json': j }));
				const p = document.getElementById("page");
				document.getElementById("btn_forward").disabled = (p.value >= p.max);
				document.getElementById("btn_backward").disabled = (p.value <= 0);
			}
		}
		if (code.value.trim().startsWith("https://")) {
			const xhr = new XMLHttpRequest();
			xhr.onload = function(e) {
				code.value = this.responseText;
				send_code();
			};
			xhr.onerror = function(e) {
				code.value = "Error while loading the JSON file."
			};
			xhr.open("GET", code.value.trim(), true);
			xhr.send();
			code.value = "Loading JSON...";
		} else {
			send_code();
		}
	});
	document.getElementById("page_form").addEventListener("submit", e => {
		e.preventDefault();
		move_update();
	});
	document.getElementById("btn_forward").disabled = true;
	document.getElementById("btn_backward").disabled = true;
	connect(room);
});
window.addEventListener("beforeunload", e => {
	if (!socket || nb_connected == 0) return;
	const msg = "By closing this page, you will close the room";
	e.returnValue = msg;
	return msg;
});
window.addEventListener("pagehide", (event) => {
	if (socket)
		socket.close();
});
document.addEventListener('keydown', (event) => {
	const activeTag = document.activeElement.tagName.toUpperCase();
	if (activeTag == "TEXTAREA" || activeTag == "INPUT") return;

	// Most PowerPoint Remotes send Keyboard Events PageUp (previous page) and PageDown (next page).
	switch (event.code) {
		case 'ArrowLeft':
		case 'ArrowUp':
		case 'PageUp':
		case 'Backspace':
			move_backward ();
			break;

		case 'ArrowRight':
		case 'ArrowDown':
		case 'PageDown':
		case 'Space':
			move_forward ();
			break;

		case 'Home':
			move_home();
			break;

		default:
	}
}, false);
document.addEventListener('wheel', (event) => {
	// A few PowerPoint Remotes send MouseWheel Events.
	// A negative number (e.g. -40) moves to the previous page, and a positive number (e.g. 40) moves to the next page.
	if (!document.getElementById('wheel_remote').checked) return;
	if (event.deltaY < 0)
		move_backward ();
	if (event.deltaY > 0)
		move_forward ();
}, false);
		</script>
		<div class="box">
			<p>Room name: <b><span id="room_name">Unknown</span></b></p>
			<p>Connected: <b><span id="connected">No</span></b></p>
			<p class="hide_on_error">Connected clients: <b><span id="connected_clients">0</span></b></p>
			<p id="error_log"></p>
			<div class="hide_on_error">
				<p><label><input type="checkbox" id="allow_stealing" /> Allow stealing of the room</label></p>
				<p><label><input type="checkbox" id="wheel_remote" /> Allow wheel-style remotes</label></p>
			</div>
		</div>
		<h2>JSON</h2>
		<form id="json_form">
			<p id="json_code_note">Note: The content should be a valid JSON suitable for the viewer of Stereopix (see <a href="https://stereopix.github.io/viewer-examples/020_01_advanced_json_file/list.json" target="_blank">example</a> and the help of Stereopix for advanced usages) or the address where such file can be loaded (with appropriate cross-origin headers).</p>
			<textarea id="json_code" spellcheck="false"></textarea>
			<br />
			<input type="submit" />
		</form>

		<h2>Page number</h2>
		<form id="page_form">
			<input type="number" value="0" min="0" max="0" id="page" />
			<br />
			<input type="submit" />
			<br />
			<button id="btn_backward" onclick="move_backward()">Reverse</button>
			<button id="btn_forward" onclick="move_forward()">Forward</button>
		</form>
		</div>
		<div id="thumbs" class="hide_on_error">
		</div>
	</body>
</html>
