body {
	padding: 130px 10px 10px 10px;
	text-align: center;
	background: #f0f0f0 url('logo.webp') no-repeat top center;
	color: #333;
	font-family: "Noto Sans", sans-serif;
}
body.error {
	background-color: #f0d4d4;
}
h1 {
	display: none;
}
h2, h3, h4 {
	color: #990099;
}
a {
	text-decoration: none;
	color: #969;
}
#error_log {
	font-weight: bold;
	color: #f00000;
}
.subtitle {
	font-weight: bold;
	font-style: italic;
	color: #636;
}
.subtitle a {
	color: #636;
	text-decoration: underline;
}
body.error .hide_on_error, body.error #stereopix_viewer {
	display: none;
}
#json_code {
	width: 90%;
	min-height: 200px
}
#page {
	width: 90%;
}
